DynWebTestMart/WebContent/wsdl/ProductCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService.org" xmlns:intf="http://webService.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProducts">
    <complexType>
     <sequence>
      <element name="product" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductsResponse">
    <complexType>
     <sequence>
      <element name="getProductsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="addProducts">
    <complexType>
     <sequence>
      <element name="group" type="xsd:string"/>
      <element name="product" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductsResponse">
    <complexType>
     <sequence>
      <element name="addProductsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProducts2">
    <complexType>
     <sequence>
      <element name="product" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProducts2Response">
    <complexType>
     <sequence>
      <element name="getProducts2Return" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductGroups">
    <complexType/>
   </element>
   <element name="getProductGroupsResponse">
    <complexType>
     <sequence>
      <element name="getProductGroupsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductGroupsRequest">

      <wsdl:part element="impl:getProductGroups" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProducts2Request">

      <wsdl:part element="impl:getProducts2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductsResponse">

      <wsdl:part element="impl:addProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsRequest">

      <wsdl:part element="impl:getProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProducts2Response">

      <wsdl:part element="impl:getProducts2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsResponse">

      <wsdl:part element="impl:getProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductGroupsResponse">

      <wsdl:part element="impl:getProductGroupsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductsRequest">

      <wsdl:part element="impl:addProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductCatalog">

      <wsdl:operation name="getProducts">

         <wsdl:input message="impl:getProductsRequest" name="getProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductsResponse" name="getProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProducts">

         <wsdl:input message="impl:addProductsRequest" name="addProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductsResponse" name="addProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProducts2">

         <wsdl:input message="impl:getProducts2Request" name="getProducts2Request">

       </wsdl:input>

         <wsdl:output message="impl:getProducts2Response" name="getProducts2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductGroups">

         <wsdl:input message="impl:getProductGroupsRequest" name="getProductGroupsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductGroupsResponse" name="getProductGroupsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductCatalogSoapBinding" type="impl:ProductCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProducts2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProducts2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProducts2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductGroupsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductGroupsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductCatalogService">

      <wsdl:port binding="impl:ProductCatalogSoapBinding" name="ProductCatalog">

         <wsdlsoap:address location="http://localhost:8080/DynWebTestMart/services/ProductCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
